.vscode/

logviewer

build/

.hec_token

coverage.*
integration/k8s/k3s.yaml
integration/ssh/id_rsa
integration/ssh/id_rsa.pub
integration/ssh/authorized_keys
integration/k8s/k3s.*

# macOS sed backup files
*-e

.DS_Store

dist/

logviewer.wiki/

*.csv
log.txt
